.centerText
{
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 25vh;
    margin-bottom: 25vh;
}
.tableDiv
{
    margin:5vh;
}
@media (max-width:600px){
    .centerText
    {
        margin-left: 25vh;
        margin-right: 25vh;
        margin-top: 12.5vh;
        margin-bottom: 12.5vh;
    }
    .tableDiv
    {
        margin:2.5vh;
    }
}