.centerText
{
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 25vh;
    margin-bottom: 25vh;
}
.tableDiv
{
    margin:5vh;
}
@media (max-width:600px){
    .centerText {
        margin-left: 5vh;
        margin-right: 5vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .centerText {
        width: 90%;
        margin: 0 auto;
    }
}