.title{
    margin: 80px;
    font-family: serif;
    font-style: oblique;
    color: #ffffff;
    font-size: 500px;
    text-align: center;
}
.title2{
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    font-family: serif;
    font-style: italic;
    color: #ffffff;
    font-size: 250px;
    text-align: center;
}
.obliqueSubtitle{
    margin: 80px;
    font-family: serif;
    font-style: oblique;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}
.subtitle
{
    font-family: serif;
    font-size: 40px;
    font-style: inherit;
    font: georgia;
    color: #ffffff;
    text-align: center;
}
.superSubtitle
{
    font-family: serif;
    font-size: 25px;
    font-style: inherit;
    font: georgia;
    color: #ffffff;
    text-align: center;
}
.text
{
    font-family: sans-serif;
    font: Arial;
    font-size: 20px;
    color: #ffffff;
    text-align: justify;
}
.tableText
{
    font-family: sans-serif;
    font: arial;
    font-size: 20px;
    font-style: bold;
    margin: 10px;
    color:#ffffff;
;
}
.warningText
{
    font-family: sans-serif;
    font: arial;
    font-size: 40px;
    font-style: bold;
    margin: 10px;
    color:#ffffff;
}
ul,
ol,
dl{
    font-family: sans-serif;
    font: Arial;
    font-size: 20px;
    color: #ffffff;
    text-align: justify;
}
li{
  line-height: 1.5;
}
@media (max-width:600px){ /*cellphones*/
    .title{
        font-size: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .title2{
        margin-top: 50%;
        margin-bottom: 50%;
        margin: 0px;
        font-size: 100px;
        text-align: center;
    }
    .text
    {
      font-size: 15px;
    }
    .tableText
    {
     font-size: 15px;
    }
    .subtitle
    {
      font-size: 30px;
    }
    .superSubtitle
    {
        font-size: 25px;
    }
}
@media (max-width: 1200px){
    .title{
        font-size: 150px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .title2{
        margin-top: 50%;
        margin-bottom: 50%;
        margin: 0px;
        font-size: 100px;
        text-align: center;
    }
    .text
    {
      font-size: 20px;
    }
    .tableText
    {
     font-size: 20px;
    }
    .subtitle
    {
      font-size: 35px;
    }
    .superSubtitle
    {
        font-size: 30px;
    }
}